<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= config.site.description %>">
    <meta name="keywords" content="<%= config.site.keywords %>">
    <link href='<%= config.site.icon %>' type='image/x-icon' rel='icon'/>
    <link href='<%= config.site.icon %>' type='image/x-icon' rel='shortcut icon'/>
    <link rel="icon" href="<%= config.site.icon %>" type="image/x-icon">
    <link rel="shortcut icon" href="<%= config.site.icon %>" type="image/x-icon">
    <title><%= config.site.title %> - Kullanım Koşulları</title>
    <%- config.site.g_tag %>
    <%- config.site.livechat %>
</head>
<body>
    
<h2>Kullanım Koşulları</h2>
Lütfen <%- url %>'dan hizmet satın almadan önce aşağıdaki koşulları dikkatlice okuyun. <%- url %>'a kayıt olup, hizmetlerini kullanarak tüm koşulları okuduğunuzu, anladığınızı ve kabul ettiğinizi beyan edersiniz. Bu hüküm ve koşulları kabul etmiyorsanız lütfen <%- url %> hizmetlerini kullanmayın.
<br>
<h2>Genel Şartlar</h2>
● Varsayılan minimum ödeme tutarı 10TL'dir.
<br>
● <%- url %> servis fiyatlarını önceden haber vermeksizin herhangi bir zamanda değiştirebilir. Ödeme / Geri Ödeme politikası sabit kalır.
<br>
● <%- url %> herhangi bir hizmet için teslimat süresini garanti etmez. Servislerde yazılı olan başlama süreleri belirttimiz en yakın tahminlerdir.
<br>
● 1 Link için aynı anda sadece 1 sipariş girilebilir, 2 sipariş birden girildiğinde eksik gönderimler olabilir, sorumlusu <%- url %> değildir.
<br>
● <%- url %> Instagram, Facebook, Twitter veya sunduğu herhangi bir hizmet için, işlem yapılan hesabın askıya alınması, kapatılması gibi olası durumlarda mesuliyet kabul etmez.
<br>
● Kullanmakta olduğunuz web sitesi üzerinden elektronik ortamda sipariş verdiğiniz takdirde, size sunulan ön bilgilendirme formunu ve mesafeli satış sözleşmesini kabul etmiş sayılırsınız.
<br>
● Tüm sistem üyelerine e-mail ve cep telefonuna çok sık olmamak kaydı ile sistemimiz hakkında bilgilendirici mesajlar gönderilebilir. Sisteme üye olarak tarafımıza iletişim hakkı vermiş olursunuz.
<br>
● Her servise verilen limit, hesap başına verilen limittir. Max 3k limitli bir servisten yararlanan hesap 4k çekim yapamaz.
<br>
● Ürünlerin karşılarında belirtilen ücretler 1.000 (1K) ücretidir.
<br>
● <%- url %> Tarafından sisteme kayıt olan her kullanıcının telefon numarasına istenildiği zaman mesaj gönderme hakkına sahiptir.
<br>
<h2>Hizmet Şartları</h2>
● <%- url %> İnstagram/Twitter/Facebook veya başka bir Sosyal Medya hesabı için sadece "Görünüm" artırmaya yardımcı olmak için kullanılacaktır.
<br>
● <%- url %> yeni takipçiler ve etkileşim garantisi vermez, sadece ödeme yapılarak alınan miktarı garanti eder.
<br>
● Tüm bot hesapları gerçek görünüme dönüştürmek için çalışıyoruz, ancak hesaplarımızın %100 profil resimli, biyografili ve paylaşımlı hesaplar olacağının garantisini vermiyoruz.
<br>
● Gizli hesaplara işlem yapıldığında sorumluluk üyeye aittir. Sipariş vermeden önce lütfen hesabın herkese açık olduğundan emin olun.
<br>
<h2>İade Şartları</h2>
● Yapılan ödemelerde geri iade mümkün değildir, <%- url %> hizmetlerinde kullanılması gerekir.
<br>
● Instagram/Twitter/Facebook vb. servislerin ne zaman güncelleme yapabileceğini bilemeyiz, herhangi bir düşüş yaşanması halinde servis sağlayıcısı telafi yapmadığı sürece iade yapılamaz.
<br>
● Siparişler sisteme girildikten sonra iptal/iade talebiniz kabul edilmeyecektir. Eğer sipariş tamamlanmazsa/kısmen tamamlanırsa sistem otomatik olarak geri ödeme yapacaktır.
<br>
● <%- url %> yapılan ödemelerde herhangi bir ters ibraz, geri çekme söz konusu olursa üyeyi uzaklaştırma hakkını saklı tutar.
<br>
● Yetkisiz işlem veya çalıntı kredi kartı, herhangi bir hileli faliyette üye hesabı istisnasız kapatılacaktır.
<br>
<h2>Gizlilik Politikası</h2>
● Bu politika kişisel bilgilerinizin nasıl kullanacağını kapsar. Gizliliğiniz bizim için önemlidir ve korumak için her türlü önlem alınmaktadır.
<br>
● Sisteme girilen tüm bilgiler şifreli ve güvenli sunucularda barındırılır.
<br>
● Bilgileriniz hiçbir şekilde 3. kişiler ile paylaşılmaz. <%- url %> bildirimde bulunmaksızın Hizmet Şartları'nı değiştirme hakkını saklı tutar

<h1>Kullanım Sözleşmesi</h1>
Lütfen <%- url %>'dan hizmet satın almadan önce aşağıdaki koşulları dikkatlice okuyun. <%- url %>'a kayıt olup, hizmetlerini kullanarak tüm koşulları okuduğunuzu, anladığınızı ve kabul ettiğinizi beyan edersiniz. Bu hüküm ve koşulları kabul etmiyorsanız lütfen <%- url %> hizmetlerini kullanmayın.


<h3>1. Genel</h3>
● <%- url %>'dan aldığınız tüm hizmetlerin sorumluluğu size aittir.<br>
● TAKİPÇİ ATILIMI SONRASI PROFİLDE OLUŞACAK KAPANMA VEYA DÜŞÜŞLERDEN <%- url %> SORUMLU DEĞİLDİR.<br>
● Varsayılan minimum ödeme tutarı 5TL'dir.<br>
● <%- url %> servis fiyatlarını önceden haber vermeksizin herhangi bir zamanda değiştirebilir. Ödeme / Geri Ödeme politikası sabit kalır.<br>
● <%- url %> herhangi bir hizmet için teslimat süresini garanti etmez. Servislerde yazılı olan başlama süreleri belirttimiz en yakın tahminlerdir.<br>
● 1 Link için aynı anda sadece 1 sipariş girilebilir, 2 sipariş birden girildiğinde eksik gönderimler olabilir, sorumlusu <%- url %> değildir.<br>
● <%- url %> Instagram, Facebook, Twitter veya sunduğu herhangi bir hizmet için, işlem yapılan hesabın askıya alınması, kapatılması gibi olası durumlarda mesuliyet kabul etmez.<br>
● Tüm sistem üyelerine e-mail ve cep telefonuna çok sık olmamak kaydı ile sistemimiz hakkında bilgilendirici mesajlar gönderilebilir. Sisteme üye olarak tarafımıza iletişim hakkı vermiş olursunuz.<br>
● Her servise verilen limit, hesap başına verilen limittir. Max 3k limitli bir servisten yararlanan hesap 4k çekim yapamaz.<br>
● Ürünlerin karşılarında belirtilen ücretler 1.000 (1K) ücretidir.<br>
● Garantili servislerde servis kapanır veya sağlayıcıya ulaşılamaması gibi durumlarda telafi sorumluluğu kesinlikle tarafımıza ait değildir.<br>


<h3>2. Hizmet</h3>
● <%- url %> İnstagram/Twitter/Facebook veya başka bir Sosyal Medya hesabı için sadece "Görünüm" artırmaya yardımcı olmak için kullanılacaktır.<br>
● <%- url %> yeni takipçiler ve etkileşim garantisi vermez, sadece ödeme yapılarak alınan miktarı garanti eder.<br>
● Tüm bot hesapları gerçek görünüme dönüştürmek için çalışıyoruz, ancak hesaplarımızın %100 profil resimli, biyografili ve paylaşımlı hesaplar olacağının garantisini vermiyoruz.<br>
● Gizli hesaplara işlem yapıldığında sorumluluk üyeye aittir. Sipariş vermeden önce lütfen hesabın herkese açık olduğundan emin olun.<br>
● Siparişlerin tamamlanması 48 - 72 saati bulabilir. (bu süre duruma göre uzayabilir ve kısalabilir.)<br>
● Garantili servislerde servis kapanır veya sağlayıcıya ulaşılamaması gibi durumlarda telafi sorumluluğu kesinlikle tarafımıza ait değildir.<br>
</body>
</html>