<!DOCTYPE html>
<html lang="tr"> 
  
<!-- Mirrored from admin.pixelstrap.com/zeta/theme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 04:51:53 GMT -->
<head>
    <title><%= config.site.title %> - Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= config.site.description %>">
    <meta name="keywords" content="<%= config.site.keywords %>">
    <link href='<%= config.site.icon %>' type='image/x-icon' rel='icon'/>
    <link href='<%= config.site.icon %>' type='image/x-icon' rel='shortcut icon'/>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/51462c48e7.js"></script>
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/icofont.css">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/themify.css">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/flag-icon.css">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/feather-icon.css">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/scrollbar.css">
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/animate.css">
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/photoswipe.css">
    <!-- Plugins css Ends-->
    
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css">
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/vendors/bootstrap.css">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/style.css">
    <link id="color" rel="stylesheet" href="/dash_assets/assets/css/color-1.css" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/dash_assets/assets/css/responsive.css">
    <%- config.site.g_tag %>
    <%- config.site.livechat %>
  </head>
  <body>     
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader">
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-bar"></div>
        <div class="loader-ball"></div>
      </div>
    </div>
    <!-- Loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0"> 
          <div class="header-logo-wrapper col-auto p-0">
            <!-- <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="/dash_assets/assets/images/logo/logo.png" alt=""></a></div> -->
            <div class="toggle-sidebar">
              <div class="status_toggle sidebar-toggle d-flex">        
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g> 
                    <g> 
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 6.6738C21.0003 8.7024 19.3551 10.3476 17.3265 10.3476C15.2979 10.3476 13.6536 8.7024 13.6536 6.6738C13.6536 4.6452 15.2979 3 17.3265 3C19.3551 3 21.0003 4.6452 21.0003 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 6.6738C10.3467 8.7024 8.7024 10.3476 6.6729 10.3476C4.6452 10.3476 3 8.7024 3 6.6738C3 4.6452 4.6452 3 6.6729 3C8.7024 3 10.3467 4.6452 10.3467 6.6738Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M21.0003 17.2619C21.0003 19.2905 19.3551 20.9348 17.3265 20.9348C15.2979 20.9348 13.6536 19.2905 13.6536 17.2619C13.6536 15.2333 15.2979 13.5881 17.3265 13.5881C19.3551 13.5881 21.0003 15.2333 21.0003 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3467 17.2619C10.3467 19.2905 8.7024 20.9348 6.6729 20.9348C4.6452 20.9348 3 19.2905 3 17.2619C3 15.2333 4.6452 13.5881 6.6729 13.5881C8.7024 13.5881 10.3467 15.2333 10.3467 17.2619Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </g>
                </svg>
              </div> 
            </div>
          </div>
          <div class="left-side-header col ps-0 d-none d-md-block">
            <!-- 
              <div class="input-group"><span class="input-group-text" id="basic-addon1">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g> 
                    <g> 
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2753 2.71436C16.0029 2.71436 19.8363 6.54674 19.8363 11.2753C19.8363 16.0039 16.0029 19.8363 11.2753 19.8363C6.54674 19.8363 2.71436 16.0039 2.71436 11.2753C2.71436 6.54674 6.54674 2.71436 11.2753 2.71436Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M19.8987 18.4878C20.6778 18.4878 21.3092 19.1202 21.3092 19.8983C21.3092 20.6783 20.6778 21.3097 19.8987 21.3097C19.1197 21.3097 18.4873 20.6783 18.4873 19.8983C18.4873 19.1202 19.1197 18.4878 19.8987 18.4878Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </g>
                </svg></span>
              <input class="form-control" type="text" placeholder="Search here/dash_assets" aria-label="search" aria-describedby="basic-addon1">
            </div> -->
          </div>
          <div class="nav-right col-10 col-sm-6 pull-right right-header p-0">
            <ul class="nav-menus">
              <li>
                <div class="mode animated backOutRight">
                  <svg class="lighticon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <g>                 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1377 13.7902C19.2217 14.8742 16.3477 21.0542 10.6517 21.0542C6.39771 21.0542 2.94971 17.6062 2.94971 13.3532C2.94971 8.05317 8.17871 4.66317 9.67771 6.16217C10.5407 7.02517 9.56871 11.0862 11.1167 12.6352C12.6647 14.1842 17.0537 12.7062 18.1377 13.7902Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </g>
                  </svg>
                  <svg class="darkicon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z"></path>
                    <path d="M18.3117 5.68834L18.4286 5.57143M5.57144 18.4286L5.68832 18.3117M12 3.07394V3M12 21V20.9261M3.07394 12H3M21 12H20.9261M5.68831 5.68834L5.5714 5.57143M18.4286 18.4286L18.3117 18.3117" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </li>
              <li class="d-md-none resp-serch-input">
                <div class="resp-serch-box"><i data-feather="search"></i></div>
                <div class="form-group search-form">
                  <input type="text" placeholder="Search here/dash_assets.">
                </div>
              </li>
              <li class="onhover-dropdown">
                <div class="notification-box">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g>
                      <g>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9961 2.51416C7.56185 2.51416 5.63519 6.5294 5.63519 9.18368C5.63519 11.1675 5.92281 10.5837 4.82471 13.0037C3.48376 16.4523 8.87614 17.8618 11.9961 17.8618C15.1152 17.8618 20.5076 16.4523 19.1676 13.0037C18.0695 10.5837 18.3571 11.1675 18.3571 9.18368C18.3571 6.5294 16.4295 2.51416 11.9961 2.51416Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M14.306 20.5122C13.0117 21.9579 10.9927 21.9751 9.68604 20.5122" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </g>
                  </svg><span class="badge rounded-pill badge-warning"><%= bildirim.length || 0 %> </span>
                </div>
                <div class="onhover-show-div notification-dropdown">
                  <div class="dropdown-title">
                    <h3>Bildirimler</h3>
                    <a class="f-right" href="#"> 
                      <i data-feather="bell"></i></a>
                  </div>
                  <ul class="custom-scrollbar">
                    <!-- Bildirimler -->
                    <% bildirim.forEach(x => { %>
                        <li>
                          <div class="media">
                            <div class="notification-img bg-light-primary"><img src="<%= x.img || 'http://admin.pixelstrap.com/zeta/assets/images/avtar/man.png' %>" alt=""></div>
                            <div class="media-body">
                              <p><%= x.aciklama %></p><span></span>
                            </div>
                          </div>
                        </li>
                    <% }) %>
                    <li class="p-0">
                        <a class="btn btn-primary" href="/user/mark_notifications_as_read" data-bs-original-title="" title="">
                            <span>Okundu Olarak İşaretle</span>
                        </a>
                    </li>
                    <!-- Bildirimler -->
                  </ul>
                </div>
              </li>
              <!-- <li class="maximize"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g> 
                      <g>    
                        <path d="M2.99609 8.71995C3.56609 5.23995 5.28609 3.51995 8.76609 2.94995" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M8.76616 20.99C5.28616 20.41 3.56616 18.7 2.99616 15.22L2.99516 15.224C2.87416 14.504 2.80516 13.694 2.78516 12.804" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M21.2446 12.804C21.2246 13.694 21.1546 14.504 21.0346 15.224L21.0366 15.22C20.4656 18.7 18.7456 20.41 15.2656 20.99" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M15.2661 2.94995C18.7461 3.51995 20.4661 5.23995 21.0361 8.71995" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </g>
                  </svg></a></li> -->
              <li class="profile-nav onhover-dropdown pe-0 py-0 me-0">
                <div class="media profile-media">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g> 
                      <g> 
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55851 21.4562C5.88651 21.4562 2.74951 20.9012 2.74951 18.6772C2.74951 16.4532 5.86651 14.4492 9.55851 14.4492C13.2305 14.4492 16.3665 16.4342 16.3665 18.6572C16.3665 20.8802 13.2505 21.4562 9.55851 21.4562Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55849 11.2776C11.9685 11.2776 13.9225 9.32356 13.9225 6.91356C13.9225 4.50356 11.9685 2.54956 9.55849 2.54956C7.14849 2.54956 5.19449 4.50356 5.19449 6.91356C5.18549 9.31556 7.12649 11.2696 9.52749 11.2776H9.55849Z" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M16.8013 10.0789C18.2043 9.70388 19.2383 8.42488 19.2383 6.90288C19.2393 5.31488 18.1123 3.98888 16.6143 3.68188" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M17.4608 13.6536C19.4488 13.6536 21.1468 15.0016 21.1468 16.2046C21.1468 16.9136 20.5618 17.6416 19.6718 17.8506" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </g>
                    </g>
                  </svg>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="/dashboard/settings"><i data-feather="settings"></i><span>Ayarlar</span></a></li>
                  <li><a href="/logout"><i data-feather="log-in"> </i><span>Çıkış</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
          <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
            </div>
            </div>
          </script>
          <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper"> 
          <div>
            <div class="logo-wrapper">
              <a href="/dashboard">
                <h1 class="logo"><%= config.site.name %></h1>
              </a>
                <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            </div>
            <div class="logo-icon-wrapper"><a href="/"><h1 class="logo"><%= config.site.name %></h1></a></div>
            <nav class="sidebar-main">
              <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
              <div id="sidebar-menu">
                <%- navbar %>
              </div>
              <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
            </nav>
          </div>
        </div>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">        
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <h3>Dashboard</h3>
                </div>
                <!-- <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"> <a class="home-item" href="index.html"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item"> Dashboard</li>
                    <li class="breadcrumb-item active"> Default</li>
                  </ol>
                </div> -->
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid default-dash">
            <div class="row"> 
              <div class="col-xl-12 col-md-12 dash-xl-50">
                <div class="card profile-greeting">
                  <div class="card-body">
                    <div class="media">
                      <div class="media-body"> 
                        <div class="greeting-user">
                          <h1>Selam, <%= account.userWebName %>!</h1>
                          <p><%= config.site.title %>'a Hoş Geldin, Artık Ünlü olmak 1 tık uzağında!</p><a class="btn btn-outline-white_color" href="/services">Servisler!<i class="fa-solid fa-circle-arrow-right"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="cartoon-img"><img class="img-fluid" src="http://admin.pixelstrap.com/zeta/assets/images/images.svg" alt=""></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Duyuru -->
          <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-6">
              <div class="card card-absolute">
                <div class="card-header bg-primary">
                  <h5 class="text-white">Duyuru <i class="fa-solid fa-megaphone"></i></h5>
                </div>
                <div class="card-body">
                  <p><%- config.site.duyuru %></p>
                </div>
              </div>
            </div>
            <!-- Güncelleme -->
            <div class="col-sm-12 col-md-6 col-xl-6">
              <div class="card card-absolute">
                <div class="card-header bg-secondary">
                  <h5 class="text-white">Güncelleme <i class="fa-solid fa-gears"></i></h5>
                </div>
                <div class="card-body">
                  <p><%- config.site.guncelleme %></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Son Girişler -->
          <div class="card">
            <div class="card-header pb-0">
                <h5>Giriş Geçmişi</h5>
            </div>
            <div class="card-body">
                <div class="order-history table-responsive">
                  <div id="basic-1_wrapper" class="dataTables_wrapper no-footer">
                      <table class="table table-bordernone display dataTable no-footer" id="basic-1" role="grid" aria-describedby="basic-1_info">
                        <thead>
                            <tr role="row">
                              <th scope="col" class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Prdouct name: activate to sort column ascending" style="width: 260.719px;">Ip</th>
                              <th scope="col" class="sorting" tabindex="0" aria-controls="basic-1" rowspan="1" colspan="1" aria-label="Article number: activate to sort column ascending" style="width: 237.797px;">Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                          <!--
                            ip: String, //IP
                            device: String, //Cihaz
                            os: String, //OS
                            scanner: String, //Tarayıcı
                            user_agent: String, //Kullanıcı Agenti
                            date: String, //Tarih ve Saat
                          -->
                          <% last_10_ip_history_array.forEach(x => { %>
                            <tr role="row" class="odd">
                              <td><%= x.userIPHistoryIP %></td>
                              <td class="sorting_1"><%= x.userIPHistoryDate %></td>
                            </tr>
                          <% }) %>

                        </tbody>
                      </table>
                  </div>
                </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Copyright 2022 © <%= config.site.title %></p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="/dash_assets/assets/js/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap js-->
    <script src="/dash_assets/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- feather icon js-->
    <script src="/dash_assets/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/dash_assets/assets/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="/dash_assets/assets/js/scrollbar/simplebar.js"></script>
    <script src="/dash_assets/assets/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="/dash_assets/assets/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="/dash_assets/assets/js/sidebar-menu.js"></script>
    <script src="/dash_assets/assets/js/chart/knob/knob.min.js"></script>
    <script src="/dash_assets/assets/js/chart/knob/knob-chart.js"></script>
    <script src="/dash_assets/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/dash_assets/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/dash_assets/assets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/dash_assets/assets/js/dashboard/default.js"></script>
    <!-- <script src="/dash_assets/assets/js/notify/index.js"></script> -->
    <script src="/dash_assets/assets/js/datepicker/date-picker/datepicker.js"></script>
    <script src="/dash_assets/assets/js/datepicker/date-picker/datepicker.en.js"></script>
    <script src="/dash_assets/assets/js/datepicker/date-picker/datepicker.custom.js"></script>
    <script src="/dash_assets/assets/js/photoswipe/photoswipe.min.js"></script>
    <script src="/dash_assets/assets/js/photoswipe/photoswipe-ui-default.min.js"></script>
    <script src="/dash_assets/assets/js/photoswipe/photoswipe.js"></script>
    <script src="/dash_assets/assets/js/typeahead/handlebars.js"></script>
    <script src="/dash_assets/assets/js/typeahead/typeahead.bundle.js"></script>
    <script src="/dash_assets/assets/js/typeahead/typeahead.custom.js"></script>
    <script src="/dash_assets/assets/js/typeahead-search/handlebars.js"></script>
    <script src="/dash_assets/assets/js/typeahead-search/typeahead-custom.js"></script>
    <script src="/dash_assets/assets/js/height-equal.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="/dash_assets/assets/js/script.js"></script>
    <!-- <script src="/dash_assets/assets/js/theme-customizer/customizer.js"></script> -->
    <!-- login js-->
    <!-- Plugin used-->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        let urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('error') == 'true') {
         //?message=xxx
         let msg = urlParams.get('message');
            Swal.fire({
               icon: 'error',
               title: 'Oops...',
               text: `${msg}`,
               footer: 'Tüm Hakları Saklıdır.'
            })
        }
        if(urlParams.get('success') == 'true') {
         //?message=xxx
         let msg = urlParams.get('message');
            Swal.fire({
               icon: 'success',
               title: 'Başarılı',
               text: `${msg}`,
               footer: 'Tüm Hakları Saklıdır.'
            })
        }
      </script>
  </body>

<!-- Mirrored from admin.pixelstrap.com/zeta/theme/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 10 Feb 2022 04:55:25 GMT -->
</html>